
.metadata/.plugins/org.eclipse.core.resources/.history/12/80e7c645c27800151c20b3c3cf1632c9

.metadata/.plugins/org.eclipse.core.resources/.history/40/40e020d7c37800151c20b3c3cf1632c9

.metadata/.plugins/org.eclipse.core.resources/.history/b3/9058b9dfc37800151c20b3c3cf1632c9

.metadata/.plugins/org.eclipse.core.resources/.history/75/d0d110cfc37800151c20b3c3cf1632c9

.metadata/.plugins/org.eclipse.core.resources/.history/c6/c0b3a7c0c37800151c20b3c3cf1632c9

.metadata/.plugins/org.eclipse.core.resources/.history/fe/a07f41f3c37800151c20b3c3cf1632c9

*.snap

*.snap

.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png

.metadata/.plugins/org.eclipse.jdt.core/1443895614.index

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/1443895614.index

*.xmi

.metadata/.plugins/org.eclipse.core.resources/1.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/MOBLIMA/.markers.snap

*.snap

*.png

.metadata/.plugins/org.eclipse.core.resources/.history/29/f02256a56d79001510fed34c22726bcc

*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/MOBLIMA/.indexes/e4/b9/history.index

*.zip

*.zip

.metadata/.log
